body{
    text-align: center;
    /* background-color: #000000; */
    /* color: aliceblue; */
    font-weight: 800;
    font-size: 24px;
}
.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_table{
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 3px;
    width: 85vw;
    height: 95vh;
}

table{
    border: 2px solid #000000;
}
tr ,th,td{
    border: 2px solid #000000;
}
.span_last{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
th{
    line-height: 0px;
}
ul li{
    text-align: center;
}
table{
    margin:42px 0;
}

.td_style{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.nested_table2_heading{
    font-size: 28px;
    margin: 11px;
    text-align: center;
    font-weight: 900;
}